<!-- Cart.liquid v0.1 -->
<h2>Shopping Cart</h2>
{% if cart.item_count == 0 %}
 <!-- If the customer has nothing in their cart do this -->
<p>Your shopping basket is empty. Check out some of these products...</p>
<table id="gallery">
{% tablerow product in collections.frontpage.products cols: 3 limit: 12 %}
	<ul>
	  <li>
	    <a href="{{ product.url | within: collections.frontpage }}" title="{{ product.title | escape }} &mdash; {{ product.description | strip_html | truncate: 50 | escape }}"><img src="{{ product.images.first | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></a>
	    <a href="{{ product.url | within: collections.frontpage }}">{{ product.title | truncate: 30 }}</a><br />
			<small>{{ product.price | money }}</small>
	   </li>
	</ul>
{% endtablerow %}
</table>
  {% else %}
 <!-- If the customer does have something their cart do this -->
Cart has stuff in it.
{% endif %}